* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    min-width: 100vh;
}

.start-container {
    /* display: none; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-scene {
    height: 100vmin;
    flex-grow: 2;
    background-image: url('../assets/Fly-general.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.start-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.leaderboard {
    flex-grow: 2;
    height: 100vmin;
}

h1 {
    font-size: 7vmin;
}

.rules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 3.5vmin;
}

li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.5vmin;
}

.flies {
    width: 7vmin;
    height: 7vmin;
}

#start {
    font-size: 4vmin;
    padding: 1.5vmin 5vmin;
    margin: 4vmin;
    border: none;
    border-radius: 10px;
}



.game-container {
    /* visibility: hidden; */
    /* display: flex; */
    display: none;
    flex-direction: column;
    align-items: center;
}

.end-container {
    display: none;
}

.top-wrapper {
    width: 85vmin;
    display: flex;
    justify-content: space-between;
    padding: 4vmin 0;
}

#score-display,
#lives-display {
    border: 1px solid black;
    padding: 1.5vmin;
}

.game-grid {
    height: 85vmin;
    width: 85vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.game-grid>div {
    border: 1px solid lightgrey;
    display: inline-block;
}

.bottom-wrapper {
    width: 85vmin;
    display: flex;
    justify-content: right;
    padding: 4vmin 0;
}

#pause {
    margin-left: 3vmin;
}

/* in-game elements */
.player,
.swat,
.invader,
.invader-goo,
.dead-fly {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player {
    background-image: url('../assets/Hand.png');
}


.black {
    background-image: url('../assets/Black-1.png');
}

.brown {
    background-image: url('../assets/Brown-1.png');
}

.green {
    background-image: url('../assets/Green-1.png');
}

.purple {
    background-image: url('../assets/Purple-1.png');
}

.gold {
    background-image: url('../assets/Gold-1.png');
}

.dead-fly {
    background-image: url('../assets/Dead-fly-2.png');
}

.swat {
    background-image: url('../assets/Fly-swat.png');
}