* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    min-width: 100vh;
}

/* * start screen */
.start-container {
    /* display: none; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-image: url('../assets/Start-bg.GIF');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.start-scene-left, .start-scene-right {
    height: 100vmin;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.start-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 850px;
}


h1 {
    font: 6vmin "Press Start 2P", sans-serif;
    text-align: center;
    text-shadow: 1px 7px green;
    color: greenyellow;
}

.rules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font: 3.5vmin "Pixelify Sans", sans-serif;
    background-color: #ffffff;
    padding: 3vmin;
    border-radius: 20px;
    border: 10px solid #e9ff00;
}

.points {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.5vmin;
    font: 600 3vmin "Press Start 2P", sans-serif;
    color: yellowgreen;
}

.flies {
    width: 7vmin;
    height: 7vmin;
}

#start {
    font: 3.5vmin "Press Start 2P", sans-serif;
    padding: 2vmin 5vmin;
    margin: 4vmin;
    border: none;
    border-radius: 10px;
    background-color: fuchsia;
    box-shadow: 0px 6px 0 3px #b637c1;
    color: #ffe4fb;
}

#start:active {
    background-color: rgb(207, 0, 207);
}

/* * gameplay screen */
.game-container {
    /* display: flex; */
    display: none;
    flex-direction: column;
    align-items: center;
    background-image: url('../assets/Gameplay-bg.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-wrapper {
    width: 85vmin;
    display: flex;
    justify-content: space-between;
    padding: 4vmin 0;
}

#score-display,
#lives-display {
    border: 2px solid #e9ff00;
    padding: 1.5vmin;
    background-color: #ffffff;
    border-radius: 20px;
}

.game-grid {
    height: 85vmin;
    width: 85vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: none;
}

.game-grid > div {
    border: none;
    display: inline-block;
}

.bottom-wrapper {
    width: 85vmin;
    display: flex;
    justify-content: right;
    padding: 4vmin 0;
}

#mute {
    border: none;
    border-radius: 10px;
    font: 1.6vmin "Press Start 2P", sans-serif;
    padding: 15px;
    color: white;
    background-color: black;
    box-shadow: 0px 4px 0 1px #535353;
}

#pause {
    margin-left: 3vmin;
    border: none;
    border-radius: 10px;
    font: 1.6vmin "Press Start 2P", sans-serif;
    padding: 15px;
    color: white;
    background-color: black;
    box-shadow: 0px 4px 0 1px #535353;
}

#mute:active,
#pause:active {
    background-color: rgb(29, 29, 29);
}

/* * gameover screen */
.end-container {
    /* display: flex; */
    display: none;
    height: 100vmin;
    align-items: center;
    justify-content: space-evenly;
}

form {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 3vmin;
    font: 1.8vmin "Pixelify Sans", sans-serif;
    background-color: #e9ff00;
    border: none;
    border-radius: 10px;
}

.input-wrapper {
    padding-bottom: 3vmin;
}

label {
    padding-right: 1vmin;
    font-size: 2.3vmin;
}

input {
    width: 169px;
    height: 30px;
}

[placeholder] {
    font: 1.8vmin "Pixelify Sans", sans-serif;
    padding-left: 1vmin;
}

#high-score {
    border: none;
    border-radius: 10px;
    font: 1.4vmin "Press Start 2P", sans-serif;
    padding: 10px;
    color: white;
    background-color: black;
    box-shadow: 0px 4px 0 1px #535353;
}

#high-score:disabled {
    background-color: #535353;
}

#high-score:active {
    background-color: rgb(29, 29, 29);
}

.mid-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 80vmin;
}

#restart {
    font: 3.5vmin "Press Start 2P", sans-serif;
    padding: 2vmin 5vmin;
    margin: 4vmin;
    border: none;
    border-radius: 10px;
    background-color: fuchsia;
    box-shadow: 0px 6px 0 3px #b637c1;
    color: #ffe4fb;
}

#restart:active {
    background-color: rgb(207, 0, 207);
}

.good-bg,
.bad-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.good-end {
    font: 3vmin "Press Start 2P", sans-serif;
    text-align: center;
    text-shadow: 0px 6px 0px #a09211;
    color: #ffee00;
}

.good-bg {
    background-image: url('../assets/Good-bg.GIF');
}

.cake-img {
    background-image: url('../assets/Cake-sparkles.GIF')
}

.bad-end {
    font: 3vmin "Press Start 2P", sans-serif;
    text-align: center;
    text-shadow: 0px 6px 0px #6c6c6c;
    color: white;
}

.bad-bg {
    background-image: url('../assets/Bad-bg.GIF');
}

.leaderboard {
    height: 80vmin;
    min-width: 30vmin;
    background-color: white;
    border-radius: 10px;
    border: 10px solid #e9ff00;
}

ol {
    height: 600px;
    min-width: 30vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font: 1.8vmin 'Press Start 2P', sans-serif;
    color: yellowgreen;
    list-style: none;
}

ol > h3 {
    padding-right: 4vmin;
}

/* * in-game elements */
.player,
.swat,
.invader,
.goo-shoot,
.dead-fly,
.goo {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player {
    background-image: url('../assets/Hand.png');
}

.goo-shoot {
    background-image: url('../assets/Goo-shoot.PNG');
}

.black {
    background-image: url('../assets/Black-1.png');
}

.brown {
    background-image: url('../assets/Brown-1.png');
}

.green {
    background-image: url('../assets/Green-1.png');
}

.purple {
    background-image: url('../assets/Purple-1.png');
}

.gold {
    background-image: url('../assets/Gold-1.png');
}

.dead-fly {
    background-image: url('../assets/Dead-fly-2.png');
}

.swat {
    background-image: url('../assets/Fly-swat.png');
}

.goo {
    background-image: url('../assets/Goo.png');
}