* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    min-width: 100vh;
}

.start-container {
    display: none;
}

.game-container {
    /* visibility: hidden; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.end-container {
    display: none;
}

.top-wrapper {
    width: 85vmin;
    display: flex;
    justify-content: space-between;
    padding: 4vmin 0;
}

#score-display, #lives-display {
    border: 1px solid black;
    padding: 1.5vmin;
}

.game-grid {
    height: 85vmin;
    width: 85vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.game-grid > div {
    border: 1px solid lightgrey;
    display: inline-block;
}

.bottom-wrapper {
    width: 85vmin;
    display: flex;
    justify-content: right;
    padding: 4vmin 0;
}

#pause {
    margin-left: 3vmin;
}

/* in-game elements */
.player, .swat, .invader, .invader-goo, .explosion {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player {
    background-image: url('../assets/Hand.png');
}

.swat {
    background-image: url('../assets/Fly-swat.png');
}

.invader {
    background-image: url('../assets/Pixel-fly-1.png');
}